apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager-v2
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
        com.company: Red_Hat
        rht.prod_name: Red_Hat_Integration
        rht.prod_ver: master
        rht.comp: 3scale
        rht.comp_ver: master
        rht.subcomp: 3scale_operator
        rht.subcomp_t: infrastructure
    spec:
      serviceAccountName: 3scale-operator
      containers:
      - command:
        - /manager
        args:
        - --enable-leader-election
        image: controller:latest
        name: manager
        resources:
          limits:
            cpu: 100m
            memory: 100Mi
          requests:
            cpu: 100m
            memory: 100Mi
        env:
        - name: RELATED_IMAGE_BACKEND
          value: "quay.io/3scale/apisonator:latest"
        - name: RELATED_IMAGE_APICAST
          value: "quay.io/3scale/apicast:latest"
        - name: RELATED_IMAGE_SYSTEM
          value: "quay.io/3scale/porta:latest"
        - name: RELATED_IMAGE_ZYNC
          value: "quay.io/3scale/zync:latest"
        - name: RELATED_IMAGE_SYSTEM_MEMCACHED
          value: "memcached:1.5"
        - name: RELATED_IMAGE_BACKEND_REDIS
          value: "centos/redis-5-centos7"
        - name: RELATED_IMAGE_SYSTEM_REDIS
          value: "centos/redis-5-centos7"
        - name: RELATED_IMAGE_SYSTEM_MYSQL
          value: "centos/mysql-57-centos7"
        - name: RELATED_IMAGE_SYSTEM_POSTGRESQL
          value: "centos/postgresql-10-centos7"
        - name: RELATED_IMAGE_ZYNC_POSTGRESQL
          value: "centos/postgresql-10-centos7"
        - name: RELATED_IMAGE_OC_CLI
          value: "quay.io/openshift/origin-cli:4.2"
      terminationGracePeriodSeconds: 10
