apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  labels:
    app: 3scale-api-management
  name: tenants.capabilities.3scale.net
spec:
  group: capabilities.3scale.net
  names:
    kind: Tenant
    listKind: TenantList
    plural: tenants
    singular: tenant
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Tenant is the Schema for the tenants API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TenantSpec defines the desired state of Tenant
            properties:
              email:
                type: string
              masterCredentialsRef:
                description: SecretReference represents a Secret Reference. It has enough information to retrieve secret in any namespace
                properties:
                  name:
                    description: name is unique within a namespace to reference a secret resource.
                    type: string
                  namespace:
                    description: namespace defines the space within which the secret name must be unique.
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              organizationName:
                type: string
              passwordCredentialsRef:
                description: SecretReference represents a Secret Reference. It has enough information to retrieve secret in any namespace
                properties:
                  name:
                    description: name is unique within a namespace to reference a secret resource.
                    type: string
                  namespace:
                    description: namespace defines the space within which the secret name must be unique.
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              systemMasterUrl:
                type: string
              tenantSecretRef:
                description: SecretReference represents a Secret Reference. It has enough information to retrieve secret in any namespace
                properties:
                  name:
                    description: name is unique within a namespace to reference a secret resource.
                    type: string
                  namespace:
                    description: namespace defines the space within which the secret name must be unique.
                    type: string
                type: object
                x-kubernetes-map-type: atomic
              username:
                type: string
            required:
            - email
            - masterCredentialsRef
            - organizationName
            - passwordCredentialsRef
            - systemMasterUrl
            - tenantSecretRef
            - username
            type: object
          status:
            description: TenantStatus defines the observed state of Tenant
            properties:
              adminId:
                format: int64
                type: integer
              conditions:
                description: Current state of the tenant resource. Conditions represent the latest available observations of an object's state
                items:
                  description: "Condition represents an observation of an object's state. Conditions are an extension mechanism intended to be used when the details of an observation are not a priori known or would not apply to all instances of a given Kind. \n Conditions should be added to explicitly convey properties that users and components care about rather than requiring those properties to be inferred from other observations. Once defined, the meaning of a Condition can not be changed arbitrarily - it becomes part of the API, and has the same backwards- and forwards-compatibility concerns of any other part of the API."
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      description: ConditionReason is intended to be a one-word, CamelCase representation of the category of cause of the current status. It is intended to be used in concise output, such as one-line kubectl get output, and in summarizing occurrences of causes.
                      type: string
                    status:
                      type: string
                    type:
                      description: "ConditionType is the type of the condition and is typically a CamelCased word or short phrase. \n Condition types should indicate state in the \"abnormal-true\" polarity. For example, if the condition indicates when a policy is invalid, the \"is valid\" case is probably the norm, so the condition should be called \"Invalid\"."
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              tenantId:
                format: int64
                type: integer
            required:
            - adminId
            - tenantId
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
